#!/usr/bin/env bash

if [ -f "devbox.json" ] && command -v devbox >/dev/null 2>&1; then
  # If using devbox and devbox.json is present, automatically sets up your
  # devbox environment whenever you cd into this directory
  # https://www.jetify.com/docs/devbox/ide_configuration/direnv/
  eval "$(devbox shellenv --init-hook --install --no-refresh-alias)"
  wait # ensure all background processes finish before unblocking shell, otherwise AI shell invocations exec commands before deps are ready
fi

# Prioritize local binstubs AFTER devbox setup (so they take precedence)
export PATH="./bin:$PATH"

